node_modules/
**/node_modules/
.venv/
**/.venv/
__pycache__/
*.pyc
backend/data/
data/
models/
dist/
**/dist/
.git/
.DS_Store
*.db
*.MOV
*.mov
*.MP4
*.mp4
*.AVI
*.avi
*.MKV
*.mkv
*.WEBM
*.webm
notebooks/
*.h5
*.pt
*.pth
*.onnx
*.ckpt
